@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');

:root{
    --cor-principal: linear-gradient(to top, #434343 0%, black 100%);
    --cor-secundaria: linear-gradient(20deg, #22096b 0%, #22badc 100%);;
    --cor-fontePrincipal: aqua;
    font-family: 'Montserrat', sans-serif;;
}

*{
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    background-image: var(--cor-principal);
    width: 100%;
}

.menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-image: var(--cor-secundaria);
    background-size: 100%;
    gap: 2px;
 }

.logo{
    width: 10.5rem;
    height: 5.5rem;
    background-image: none;
}

.opcoes{
    text-decoration: none;
    color: var(--cor-fontePrincipal);
    font-family: 'Montserrat', sans-serif;
}

.botaoLogin{
    text-decoration: none;
    text-align: center;
    color: var(--cor-fontePrincipal);
    background-color: black;
    border: 1rem solid black;
    width: 4rem;
    height: 1rem;
    border-radius: 1rem;
    font-family: 'Krona One', sans-serif;
}

.mensagemPrincipal{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--cor-fontePrincipal);
    width: auto;
}

.chamada{
    padding: 5%;
    font-family: 'Krona One', sans-serif;
    font-size: 3rem;
    line-height: 1.6;
}

strong{
    background-color: var(--cor-fontePrincipal);
    border: var(--cor-fontePrincipal) solid 0.3rem;
    color: black;
}

.convenios{
    color: var(--cor-fontePrincipal);
}

.textoConvenios{
    color: black;
    background-color: var(--cor-fontePrincipal);
    border: var(--cor-fontePrincipal) solid 0.3rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    width: 27rem;
    text-align: end;
    font-size: 2.5rem;
    font-family: 'Krona One', sans-serif;
}

.bancosParceiros{
    color: black;
    background-color: var(--cor-fontePrincipal);
    border: var(--cor-fontePrincipal) solid 0.3rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    width: 40rem;
    text-align: end;
    font-size: 2.5rem;
    font-family: 'Krona One', sans-serif;
}

.swiper-button-prev,
.swiper-button-next{
	display: none;
}

.listaDeConvenios{
    text-indent: 10rem;
    height: 20rem;
}

.item{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8rem;
}

.brasao{
    width: 3.5rem;
    margin: 0.9rem;
    vertical-align: middle;
}

.brasaoSlz{
    width: 2.9rem;
    margin: 0.9rem;
    vertical-align: middle;
}

.logoBancos{
    width: 15rem;
    margin: 1rem;
    justify-content: space-around;
    margin: 3rem;
}

.listaDeBancos{
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-auto-rows: 8.5rem;
    margin: 0.8rem;
}

.vantagens{
    display: flex;
    color: var(--cor-principal);
    font-size: 0.7rem;
    background-image: var(--cor-secundaria);
    justify-content: space-around;
}

.vantagem1{
    background-color: whitesmoke;
    border: whitesmoke solid 2rem;
    border-radius: 1rem;
    margin: 3rem;
    font-weight: 300;
}

.pilares{
    display: flex;
    flex-direction: row;
    text-align: center;
    color: var(--cor-fontePrincipal);
    line-height: 1.5;
    align-items: center;
    margin: 1rem;
}

.pilar{
    border: 0.2rem solid var(--cor-fontePrincipal);
    margin: 0.7rem;
}

.iconeValores{
    margin: 2rem;
    padding: 0.5rem;
    width: 7rem;
    vertical-align: middle;
}

.textoPilares{
    font-family: 'Krona One', sans-serif;
    margin: 1rem;
}

.subTextoPilares{
    font-family: 'Montserrat', sans-serif;
    text-indent: center;
    width: auto;
    margin: 3rem;
}

footer{
    height: auto;
    width: auto;
}

.textoRedes{
    margin: 1rem;
}

.redes_links{
    display: flex;
    flex-direction: row;
    font-family: 'Montserrat', sans-serif;
    color: var(--cor-fontePrincipal);
    background-image: var(--cor-secundaria);
    height: 10rem;
}

.redessociais_links{
    margin-left: 3rem;
    border-radius: 0.1rem;
    transition: 1.2s;
    cursor: pointer;
    width: 2.5rem;
    height: 2.5rem;
    vertical-align: middle;
    text-decoration: none;
}

.linka{
    text-decoration: none;
    margin-top: 1rem;
}

.link {
    margin-top: 1rem;
    color: var(--cor-fontePrincipal);
    margin-inline: 0.5rem;
}

.redessociais_links:hover{
    transition: 1s;
    border-radius: 2rem;
    background-color: var(--cor-fontePrincipal);
}

.rodape{
    display: flex;
    flex-direction: column;
    background-image: var(--cor-secundaria);
    font-weight: bold;
    text-align: center;
    padding: 0.1rem;
    font-family: 'Montserrat', sans-serif;
}