@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');

:root{
    --cor-principal: linear-gradient(to top, #434343 0%, black 100%);
    --cor-secundaria: linear-gradient(20deg, #22096b 0%, #22badc 100%);;
    --cor-fontePrincipal: aqua; 
}

*{
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    background-image: var(--cor-principal);
}

.menu{
    display: flex;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    background-image: var(--cor-secundaria);  
 }

.logo{
    width: 10.5rem;
    height: 5.5rem;
    background-image: none;
}

.opcoes{
    text-decoration: none;
    color: var(--cor-fontePrincipal);
    font-family: 'Montserrat', sans-serif;
}

.botaoLogin{
    text-decoration: none;
    text-align: center;
    color: var(--cor-fontePrincipal);
    background-color: black;
    border: 1rem solid black;
    width: 4rem;
    height: 1rem;
    border-radius: 1rem;
    font-family: 'Krona One', sans-serif;
}

.mensagemPrincipal{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--cor-fontePrincipal);
    width: auto;
}

.chamada{
    padding: 5%;
    font-family: 'Krona One', sans-serif;
    font-size: 3rem;
    line-height: 1.6;
}

strong{
    background-color: var(--cor-fontePrincipal);
    border: var(--cor-fontePrincipal) solid 0.3rem;
    color: black;
}

.convenios{
    color: var(--cor-fontePrincipal);
}

.textoConvenios{
    color: black;
    background-color: var(--cor-fontePrincipal);
    border: var(--cor-fontePrincipal) solid 0.3rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    width: 27rem;
    text-align: end;
    font-size: 2.5rem;
    font-family: 'Krona One', sans-serif;
}

.bancosParceiros{
    color: black;
    background-color: var(--cor-fontePrincipal);
    border: var(--cor-fontePrincipal) solid 0.3rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    width: 40rem;
    text-align: end;
    font-size: 2.5rem;
    font-family: 'Krona One', sans-serif;
}


.listaDeConvenios{
    text-indent: 10rem;
    height: 20rem;
}

.item{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8rem;
}

.brasao{
    width: 3.5rem;
    margin: 0.9rem;
    vertical-align: middle;
}

.brasaoSlz{
    width: 2.9rem;
    margin: 0.9rem;
    vertical-align: middle;
}

.logoBancos{
    width: 6rem;
    margin: 0.6rem;
    vertical-align: middle;
}

.listaDeBancos{
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-auto-rows: 8.5rem;
    margin: 0.8rem;
}

.vantagens{
    display: flex;
    color: var(--cor-fontePrincipal);
    font-size: 0.7rem;
    background-image: var(--cor-secundaria);
    gap: 1rem;
    justify-content: center;
}

.vantagem1 {
    background-color: black;
    border: black solid 2rem;
    border-radius: 1rem;
    margin: 1.5rem;
}

.pilares{
    display: flex;
    flex-direction: row;
    text-align: center;
    color: var(--cor-fontePrincipal);
    line-height: 1.5;
    align-items: center;
    margin: 1rem;
}

.pilar{
    border: 0.2rem solid var(--cor-fontePrincipal);
    margin: 0.9rem;
}

.iconeValores{
    margin: 2rem;
    padding: 1rem;
    width: 7rem;
    vertical-align: middle;
}

.iconeMissao{
    margin: 2rem;
    padding: 1rem;
    width: 7rem;
    vertical-align: middle;
}

.iconeVisao{
    margin: 2rem;
    padding: 1rem;
    width: 7rem;
    vertical-align: middle;
}

.textoPilares{
    font-family: 'Krona One', sans-serif;
    margin: 1rem;
}

.subTextoPilares{
    font-family: 'Montserrat', sans-serif;
    text-indent: center;
    width: auto;
    margin: 3rem;
}

footer{
    height: auto;
    width: auto;
}

.textoRedes{
    margin: 1rem;
}

.redes_links{
    display: flex;
    flex-direction: row;
    font-family: 'Montserrat', sans-serif;
    color: var(--cor-fontePrincipal);
    background-image: var(--cor-secundaria);
    height: 10rem;
}

.redessociais_links{
    margin-left: 3rem;
    border-radius: 0.1rem;
    transition: 1.2s;
    cursor: pointer;
    width: 2.5rem;
    height: 2.5rem;
    vertical-align: middle;
    text-decoration: none;
}

.linka{
    text-decoration: none;
    margin-top: 1rem;
}

.link {
    margin-top: 1rem;
    color: var(--cor-fontePrincipal);
    margin-inline: 0.5rem;
}

.redessociais_links:hover{
    transition: 1s;
    border-radius: 2rem;
    background-color: var(--cor-fontePrincipal);
}

.rodape{
    display: flex;
    flex-direction: column;
    background-image: var(--cor-secundaria);
    font-weight: bold;
    text-align: center;
    padding: 0.1rem;
    font-family: 'Montserrat', sans-serif;
}

@media (max-width: 1200px){
    
    body{
        width: auto;
    }
    
    footer{
        width: auto;
    }
    
    main{
        width: auto;
    }
    
    .menu{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: 2.7rem;
        height: 9rem;
    }
    
    .opcoes{
        margin: 2rem;
    }
    
    .logo{
        margin-top: 3rem;
        margin-left: 1rem;
        width: 9rem;
    }
    
    .mensagemPrincipal{
        text-align: auto;
    }
    
    .vantagens{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 7rem;
        align-items: center;
    }
    
    .vantagem1{
        width: 13rem;
        text-align: center;
    }
    
    .bancosParceiros{
        width: 30rem;
    }

    .listaDeBancos{
        grid-template-columns: repeat(5, 2fr);
        grid-auto-rows: 6.5rem;
        padding: 1rem;
    }
    
    .pilares{
        line-height: 1.4;
        align-items: center;
        margin: 0.7rem;
    }
    
    .pilar{
        border: 0.1rem solid var(--cor-fontePrincipal);
        margin: 0.5rem;
        width: auto;
    }

    .iconeValores{
        margin: 0.3rem;
        padding: 0.5rem;
        width: 4rem;
    }

    .iconeMissao{
        margin: 0.3rem;
        padding: 0.5rem;
        width: 4rem;
    }

    .iconeVisao{
        margin: 0.3rem;
        padding: 0.5rem;
        width: 4rem;
    }
    
    .textoPilares{
        font-size: 1rem;
    }
    
    .subTextoPilares{
        font-size: 0.7rem;
    }

    .redes_links{
        display: flex;
        align-items: center;
        height: 7rem;
    }

    .link{
        display: none;
    }

    .redessociais_links{
        align-items: center;
    }
}

@media (max-width: 644px){
    .menu{
        padding: 0;
        margin-bottom: 0.5rem;
        height: 8rem;
        width: 38rem;
    }

    .opcoes{
        margin: 1rem;
    }

    .chamada{
        margin-left: 10rem;
    }

    .textoConvenios{
    width: 20rem;
    text-align: end;
    font-size: 2rem;
    }

    .listaDeConvenios{
        text-indent: 10rem;
        height: 15rem;
    }

    .item{
        font-size: 1.2rem;
    }
    
    .brasao{
        width: 3rem;
        margin: 0.7rem;
    }
    
    .brasaoSlz{
        width: 2.5rem;
        margin: 0.7rem;
    }

    .bancosParceiros{
        font-size: 2rem;
        width: 28rem;
    }

    .listaDeBancos{
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: 6rem;
    }

    .pilares{
        line-height: 1.1;
        align-items: flex-start;
        margin: 0.5rem;
    }
    
    .pilar{
        width: 18rem;
        border: 0.2rem solid var(--cor-fontePrincipal);
        height: 25rem;
    }

    .iconeValores{
        margin: 0.1rem;
        padding: 0.1rem;
        width: 4rem;
    }

    .iconeMissao{
        margin: 0.1rem;
        padding: 0.1rem;
        width: 4rem;
    }

    .iconeVisao{
        margin: 0.1rem;
        padding: 0.1rem;
        width: 4rem;
    }

    .subTextoPilares{
        font-size: 0.7rem;
    }

    .vantagens{
        width: 38rem;
    }

    .vantagem1{
        height: 2rem;
        width: 10rem;
        margin: 1rem;
    }

    .redes_links{
        width: 38rem;
    }

    .rodape{
        width: 38rem;
    }

    .linka{
        margin-inline: 0.3rem;
    }
}